<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="consumerKey" type="xstring" value="B8VyxEEbcjbsspd25tce41P8U"/>
<entry key="consumerSecret" type="xstring" value="qLtR2JUndKpC4c5d1OgmQRDkNaKCr1rLBGT2QLxU5zx0srCrqf"/>
<entry key="accessToken" type="xstring" value="1369643950395564032-24DoSBb2SlhFT75z8AqMBPxsmC6lgO"/>
<entry key="accessTokenSecret" type="xstring" value="1X7UIULg43R9A7opIhmFnAhoSsdJJJkFiIXNOX5ZwV5zM"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Credentials for%%00013%%00010establishing%%00013%%00010connection with%%00013%%00010Twitter API"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="7"/>
<entry key="y-coordinate" type="xint" value="399"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="60"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.twitter.api.nodes.connector.TwitterAPIConnectorFactory"/>
<entry key="node-name" type="xstring" value="Twitter API Connector"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Twitter API Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.twitter.api"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.0.v202011191704"/>
<entry key="node-feature-name" type="xstring" value="KNIME Twitter Connectors"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.twitter.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.0.v202011191704"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Twitter API Connector"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.twitter.api.data.TwitterApiConnectionPortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.twitter.api.data.TwitterApiConnectionPortObject"/>
<entry key="port_object_summary" type="xstring" value="Consumer key:%%00010B8VyxEEbcjbsspd25tce41P8U%%00010%%00010Access token:%%000101369643950395564032-24DoSBb2SlhFT75z8AqMBPxsmC6lgO%%00010%%00010"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="211ebb3c-d2bb-4d73-a276-fc41282afbd1"/>
</config>
</config>
